<%- include("header") %>

<h2>This is abt page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi reprehenderit voluptas, dolore consectetur quibusdam, repellat atque praesentium, possimus officiis nesciunt dicta dignissimos! Aut, quae esse! Explicabo exercitationem numquam quas.
Quo commodi error alias corrupti, reiciendis odio quis incidunt est quisquam illo, tempore ullam placeat cumque, aliquid sed earum quos temporibus voluptates quod maxime velit quae? Temporibus, nostrum! Numquam, nemo!
Quos itaque explicabo amet enim autem id, dignissimos fuga, recusandae ipsa velit distinctio blanditiis officia sed ab reprehenderit ullam laudantium, ex at eveniet cumque! Nulla quis odit nihil consequuntur sint.</p>

<%- include("footer") %>